body {
  padding-top: 20px;
  padding-bottom: 20px;
}
 #logo{
  padding-left:70px;
  padding-top:60px;
  }
  
  hr{
  border:none;
  height:20px;
  background-color:#3d4c63;
  	color:#3d4c63;
  }
  #pic{
  width:1200px;
  height:200px;
  }
  
  #pix{
 
  width:130px;
  height:100px;
  border-radius: 25px;
  
  }
 #account{
 	margin-top:1px;
 	margin-right:40px;
 }
 
 #tabPanelsUserAccount{
 	
 	 border-radius: 25px;
 }

  #form1{
  float:center;
  height:0px;
  }
  

 
 #section{
   font-family: 'Sans-serif	';
   font-size: 40px;
   color:#333;
   text-align:center;
   
 }
 
.navbar {
  margin-bottom: 20px;
}
.navbar-default {
  background-color: #3d4c63;
  border-color: #313740;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #4eaabd;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #4eaabd;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #3d4c63;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #4eaabd;
  background-color: #313740;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #313740;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #4eaabd;
  background-color: #313740;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #4eaabd;
  background-color: #313740;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #4eaabd;
  background-color: #313740;
}
.navbar-default .navbar-toggle {
  border-color: #313740;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #313740;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #4eaabd;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #4eaabd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #4eaabd;
    background-color: #313740;
  }
  
 
  
}